<nav class="width-inherit flex-repel inner-shadow">

    {{#each (ternary session.user logged_nav_lsts nav_lsts)}}
        <ul class="flex-spread height-inherit">
            {{#each this}}
                <li class="p-half">
                    <a href="{{this}}">{{@key}}</a>
                </li>
            {{/each}}
        </ul>
    {{/each}}


</nav>