<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/public/stylesheets/style.css' />
    </head>
    <body class="fill-screen flex-TTB">
        {{>navbar}}
        {{{body}}}
        <script src="https://js.stripe.com/v3/"></script>
    </body>
</html>
