
*.txt-green {color: #28a745;}

*.txt-blue {color: #0275d8;}

*.txt-royalblue {
    color: royalblue;
}

*.txt-red {
    color: #dc3545;
}

*.txt-white {
    color: white;
}

*.txt-black {
    color: black;
}




