<div class="flex-TTB-alignCtr grow1 laser-background txt-white p-half xlg font-calibri">
    <div class="w-50">
        We help pupils, aged 10 to 18, who wish to participate in one of the computation contests. Having helped
        more than a 120 pupil with the Canadian Computation Competition (CCC), and 4 with the International Olympics Competition (IOI) in
        Canada and Britain
    </div>

 </div>