<div class="flex-TTB-alignCtr grow1 laser-background txt-white p-half xlg font-calibri">
    <p class="w-50">
        Welcome to Sigma, your go-to online tutoring center for math, programming, and physics! Our team of experienced
        tutors is dedicated to helping students of all levels achieve their academic goals and succeed in their studies.
    </p>

    <p class="w-50">
        We have helped more than 120 pupils to participate in the Canadian Computation Competition (CCC), 4 of which the
        have joined the International Olympics Competition (IOI). And the sweeping majority of our high school students
        get offers from the University of Toronto, McMaster, and the University of British Colombia.
    </p>

    <p class="w-50">
        At Sigma, we understand that every student has unique learning needs and we strive to provide personalized and
        effective tutoring services that cater to those needs. Our tutors are experts in their respective fields and are
        passionate about sharing their knowledge and helping students unlock their full potential.
    </p>
    <p class="w-50">
        Whether you need help with a difficult math concept, want to improve your programming skills, or need guidance
        in understanding complex physics theories, Sigma is here to help. Our online tutoring sessions are convenient,
        flexible, and tailored to fit your busy schedule.

    <p class="w-50">
        All classes are conducted via Zoom. We offer a 1-hr trial session so you see for yourself!
    </p>

 </div>