{{>navbar}}

    <div class="grid-2x0-gap1">
        <span>Name</span>
        <span>{{session.user.forename}} {{session.user.surname}}</span>

        <span>Credited hours</span>
        <span>{{student_info.hours_credit}}</span>

        <span>Request a session</span>
        <form method="POST" action="/users/request_slot" class="flex gap-half">
            <input type="datetime-local" name="slot" step="1800">
            <button class="btn-luminous-blue">Request</button>
        </form>

    </div>

<script src="/public/javascripts/account.js"></script>