{{>navbar}}

    <div class="grid-2x0-gap1">
        <span>Name</span>
        <span>{{session.user.forename}} {{session.user.surname}}</span>

        <span>Credited hours</span>
        <span>{{student_info.hours_credit}}</span>
    </div>

