{{>navbar}}
<div class="grid-4x1">
    <div>
        <div class="product">
            <div class="description">
                <h3>Stubborn Attachments</h3>
                <h5>$20.00</h5>
            </div>
        </div>
        <form action="/book/create-checkout-session" method="POST">
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </div>

    <label>5 hours package </label>
    <label>10 hours package </label>
    <label>20 hours package</label>
</div>