{{>navbar}}
<div class="grid-3x1">
    <div class="flex-TTB-ctr">
        Book 1 Hour
        <form action="/book/create-checkout-session" method="POST">
            <input type="hidden" name="hours" value="1"/>
            <input type="hidden" name="cost" value="32">
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </div>

    <div class="flex-TTB-ctr">
        Book 5 Hours
        <form action="/book/create-checkout-session" method="POST">
            <input type="hidden" name="hours" value="5"/>
            <input type="hidden" name="cost" value="145">
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </div>
    <div class="flex-TTB-ctr">
        Book 10 Hours
        <form action="/book/create-checkout-session" method="POST">
            <input type="hidden" name="hours" value="10"/>
            <input type="hidden" name="cost" value="270">
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </div>

</div>