<div class="flex-ctr grow1 laser-background">
    <form method="POST" action="/users/change_name" class="grid-1x0-gap1">
        <input class="xlg" type="text" name="new_forename" placeholder="New Forename"/>
        <input class="xlg" type="text" name="new_surname" placeholder="New Surname"/>
        <input class="xlg" type="password" name="password" placeholder="Enter your password" />
        <button class="btn-luminous-blue B-xlg">Submit</button>
    </form>
</div>
