<div class="flex-ctr grow1 laser-background txt-white B-xlg">
    <div class="grid-2x0-gap1">
        <span>Email</span>
        <span>sigma@sigmaedu.ca</span>

        <span>Phone</span>
        <span>+1 (647) 250-6999</span>
    </div>
</div>