<div class="flex-ctr grow1 laser-background txt-white B-xlg">
    <form action="/users/leave_msg" method="POST" class="flex-TTB-ctr">

        <textarea name="msg" rows="10" cols="50">Please let us know how to help you and the best way to acknowledge your message ...</textarea>
        <button class="btn-luminous-green m-top1 B-xlg">Submit</button>

    </form>
</div>