{{>navbar}}

<div class="width-inherit flex-TTB-ctr">
    <div>
        <h2 class="txt-green">One-on-one coding classes for pupils, university students, and those preparing for local/international
            competitions!</h2>
    </div>
    <h1>Book your free trial!</h1>

    <form method="POST" action="/users/book">
        <input class="xlg" type="datetime-local" name="time_slot">

        <button type="submit">Submit</button>
    </form>
</div>