{{>navbar}}

<div class="flex-TTB-ctr">
    <h1 class="txt-blue">Get Your Next Scholarship!</h1>
    <p>Canadians spend on average $48,000 on a 4-year university degree, but not with us! We can fully prepare your
        child to get a full scholarship </p>
</div>