{{>navbar}}

<div class="width-inherit flex-TTB-ctr">
    <div>
        <h2 class="txt-green">One-on-one coding classes for pupils, university students, and those preparing for local/international
            competitions!</h2>
    </div>

    <a href="/users/book_trial"><button class="B-xlg txt-royalblue">BOOK FREE TRIAL</button></a>

<!--    <form method="POST" action="/users/book.hbs">-->
<!--        <input class="xlg" type="datetime-local" min="2022-11-01T00:00" max="2022-11-30T00:00" step="1800" name="time_slot">-->

<!--        <button type="submit">Submit</button>-->
<!--    </form>-->
</div>