{{>navbar}}



<div class="grid-3x1-gap1">
    {{#each packages}}

        <div>
            <form action="/enroll/create-checkout-session" method="POST" class="h-inherit">
                <fieldset class="flex-TTB-ctr h-inherit">

                        <legend>{{@key}} hrs package</legend>
                        <p>{{this}}</p>
                        <p>Price: {{get_package_price @key}}</p>
                        <input type="hidden" name="hours" value="{{@key}}"/>
                        <button type="submit" id="checkout-button" class="xlg btn-luminous-blue">Enroll</button>

                </fieldset>

            </form>
        </div>

    {{/each}}

</div>