<div class="flex-TTB-ctr grow1 laser-background txt-white">
    <p class="xlg">Get one free hour simply by registering!</p>
    <form action="/users/sign_up" method="POST" >
        <fieldset class="grid-2x0-gap1 p3">
            <input type="text" name="forename" class="xlg" placeholder="Forename" pattern="^([A-Z]|[a-z])[a-z]{1,20}$">
            <input type="text" name="surname" class="xlg" placeholder="Surname" pattern="^([A-Z]|[a-z])[a-z]{1,20}$">

            <input type="email" name="email" class="xlg span-all-cols" placeholder="Email" pattern="^[a-z_\d.]{2,30}@[a-z]{2,11}\.[a-z]{2,4}$" required />
            <input type="password" name="password" class="xlg span-all-cols" placeholder="Password"
                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[\w_@./#&+-]{8,30}$" autocomplete="new-password" required/>


            <div>
                <label class="B-lg">Grade</label>
                <select name="grade" class="xlg">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>


            <div class="span-all-cols flex-spread">
                <button class="xlg btn-luminous font-orbitron">Submit</button>
                <a href="/">
                    <button class="xlg btn-luminous-red font-orbitron" type="button"><label for="sign_up">Cancel</label></button>

                </a>
            </div>

            <label class="lg">Already have an account? <a href="/users/log_in" class="B txt-royalblue">Log in</a></label>

        </fieldset>

    </form>
</div>
