@import "animation.css";
@import "box.css";
@import "button.css";
@import "paint/main.css";
@import "dynamic.css";
@import "layout/layout.css";
@import "position.css";
@import "typography.css";

:root {
  --theme-colour: #5cb85c;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}




fieldset, input, button, form {
  border-radius: 0.5rem;
}

nav a:hover {
  color: green;
}

nav a, a:visited {
  color: inherit;
}


ul {
  list-style: none;
}






*.hidden {
  display: none;
}

*.round-corners {
  border-radius: 2%;
}


*.inner-shadow {
  box-shadow: inset 0 0 10px #000000;
}


input:invalid+span:after {
  content: '✖';
  color: indianred;

}

/*input:valid+span:after {*/
/*  content: '✓';*/
/*  color: forestgreen;*/
/*  font-width: inherit;*/
/*}*/


