@import "animation.css";
@import "box.css";
@import "button.css";
@import "paint/main.css";
@import "dynamic.css";
@import "layout/layout.css";
@import "position.css";
@import "typography.css";

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
  --theme-colour: #5cb85c;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Orbitron', sans-serif;
}









fieldset, input, button, form {
  border-radius: 0.5rem;
}

nav a:hover {
  color: green;
}

nav a, a:visited {
  color: inherit;
}


ul {
  list-style: none;
}






*.hidden {
  display: none;
}

*.round-corners {
  border-radius: 2%;
}


*.inner-shadow {
  box-shadow: inset 0 0 10px #000000;
}


input:invalid+span:after {
  content: '✖';
  color: indianred;

}


*.txt-align-ctr {
  text-align: center;
}


*.font-cursive {
  font-family: cursive;
}


*.laser-background {
  background: radial-gradient(#31708f,#1f1013);
  overflow-y: hidden;
  animation: fadeIn 1 1s ease-out;
}

*.light {
  position: absolute;
  width: 0px;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.x1{
  animation: floatUp 4s infinite linear;
  transform: scale(1.0);
}

.x2{
  animation: floatUp 7s infinite linear;
  transform: scale(1.6);
  left: 15%;
}

.x3{
  animation: floatUp 2.5s infinite linear;
  transform: scale(.5);
  left: -15%;
}

.x4{
  animation: floatUp 4.5s infinite linear;
  transform: scale(1.2);
  left: -34%;
}

.x5{
  animation: floatUp 8s infinite linear;
  transform: scale(2.2);
  left: -57%;
}

.x6{
  animation: floatUp 3s infinite linear;
  transform: scale(.8);
  left: -81%;
}

.x7{
  animation: floatUp 5.3s infinite linear;
  transform: scale(3.2);
  left: 37%;
}

.x8{
  animation: floatUp 4.7s infinite linear;
  transform: scale(1.7);
  left: 62%;
}

.x9{
  animation: floatUp 4.1s infinite linear;
  transform: scale(0.9);
  left: 85%;
}

@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}

@keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

/*input:valid+span:after {*/
/*  content: '✓';*/
/*  color: forestgreen;*/
/*  font-width: inherit;*/
/*}*/


